@import "@fontsource/ibm-plex-sans";

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Arial Unicode MS", Arial, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
}
#root {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button:focus {
  outline: 2px solid orange;
  border-radius: 2px;
}
